{% extends 'users/layout.html' %}
{% block body %}
<h1>Welcome, {{ request.user.first_name }}</h1>

<style>
    body {
      background-image: url('https://pbs.twimg.com/media/Drqw46nVYAAL02v.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
</style>

<ul>
    <li>Username: {{ request.user.username }}</li>
    <li>Email: {{ request.user.email }}</li>
</ul>

<a href="{% url 'my_courses' %}">My Courses</a>
<br>
<a href="{% url 'courses' %}">Available Courses</a>
<br>
<a href="{% url 'logout' %}">Log out</a>
{% endblock %}