{% extends 'users/layout.html' %}
{% block body %}
<style>
    body {
        background-color:floralwhite;
    }
    h1 {
        color: rgb(30, 255, 0);
        text-align: center;
    }

    h2 {
        color: rgb(255, 0, 225);
        text-align: center;
    }

    table,
    th,
    td {
        text-align: center;
        border: 1px solid black;
    }
</style>

<h1>My Courses</h1>

<table>
    <!--Table Head-->
    <tr style="color:blue;">
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Max Seat</th>
        <th>Withdraw</th>
    </tr>

    <!--Table Data-->
    {% for course in courses %}
    {% if request.user in course.students.all %}
    <tr>
        <td><a href="{% url 'course' course.code %}">{{ course.code }}</a></td>
        <td>{{ course.name }}</td>
        <td>{{ course.max_seat }}</td>
        <td>
            <form action="{% url 'withdraw' course.code %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="withdraw">
            </form>
        </td>
    </tr>
    {% endif %}
    {% empty %}
    <h3>No Course.</h3>
    {% endfor %}
</table>

<br>
<a href="{% url 'index' %}">Home</a>
{% endblock %}