{% extends 'courses/layout.html' %}
{% block body %}
<style>
    h1 {
        color:brown;
        text-align: center;
    }

    h2 {
        color: rgb(255, 0, 225);
        text-align: center;
    }

    table , th, td{
        text-align: center;
        border: 1px solid black;
    }
</style>
<h1>All Courses</h1>
<br>
<table>
    <!--Table Head-->
    <tr>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Max Seat</th>
        <th>Available</th>
    </tr>

    <!--Table Data-->
    {% for course in courses %}
    <tr>
        <td><a href="{% url 'course' course.code %}">{{ course.code }}</a></td>
        <td>{{ course.name }}</td>
        <td>{{ course.max_seat }}</td>
        <td>
            {% if course.quota and course.quota_seat %}
            <p>&#9989;</p>
            {% else %}
            <p>&#9940;</p>
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <h3>No Course.</h3>
    {% endfor %}
</table>
<br>
<a href="{% url 'index' %}">Home</a>

{% endblock %}