{% extends 'courses/layout.html' %}
{% block body %}
<style>
    body {
        background-image: url('https://p4.wallpaperbetter.com/wallpaper/48/906/494/heaven-wallpaper-preview.jpg');
        background-position: unset;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
    <h1 style="color: red;">Welcome to {{ course }}</h1>
    <ul>
        <li>Course code: {{ course.code }}</li>
        <li>Course name: {{ course.name }}</li>
        <li>Seat Available: {{ course.max_seat }}</li>
    </ul>

    <h2>Students</h2>
    <ul>
        {% for student in students %}
        <li>{{ student.id }}: {{ student.first_name }} {{ student.last_name }}</li>
        {% empty %}
        <li>No student.</li>
        {% endfor %}
    </ul>

    <br>
    {% if course.quota %}
    <form action="{% url 'enroll' course.code %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="enroll">
    </form>
    {% endif %}
    <br>

    <!-- <h2>Add Student</h2>

    <form action="{% url 'enroll' course.id %}" method="post">
        {% csrf_token %}
    <select name="student">
        {% for student in nonstudent %}
        <option value="{{ student.id }}">{{ student }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Add Student">
    </form> -->
    
    <a href="{% url 'courses' %}"> Back to Course Page </a>
{% endblock %}