{% extends 'courses/layout.html' %}
{% block body %}

<h1 style="color:rgb(30, 255, 0)" ALIGN="CENTER">Welcome</h1>
<h2 style="color:rgb(255, 0, 225)" ALIGN="CENTER">Register for a course

</h2>
<style>
    body {
        background-image: url('https://i.pinimg.com/550x/2a/a9/f0/2aa9f0f2139e0f4a6b1061b42f0ccdef.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<table>
    <!--Table Head-->
    <tr>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Available Seat</th>
        <th>Enroll</th>
    </tr>

    <!--Table Data-->
    {% for course in courses %}
    <tr>
        <td><a href="{% url 'course' course.code %}">{{ course.code }}</a></td>
        <td>{{ course.name }}</td>
        <td>{{ course.all_seat }}</td>
    </tr>
    {% empty %}
    <h3>No Course.</h3>
    {% endfor %}
</table>

<ul>
    {% for course in courses %}
    <li>
        <a href="{% url 'course' course.code %}">
            Course {{ course.code }}: {{ course.name }}
        </a>
    </li>

    {% empty %}
    <li>No Course.</li>

    {% endfor %}
</ul>

<br>
<a href="{% url 'index' %}">Home</a>


{% endblock %}